* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: #d9dcd6;
}


/*Added NavBar ID*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header #navbar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.header #navbar ul {
    list-style-type: none;
}

.header #navbar ul li {
    display: inline-block;
    margin-left: 25px;
}

/*End Added NavBar ID ^^^*/


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.header-image {
    height: auto;
    width: 100%;
    /*background-image: url("../images/digital-marketing-meeting.jpg"); */
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    height: 100%;
    display: inline-block;
    margin-left: 20px;
}

/* Changed Class name to match new HTML tag */

.aside-benefit-bar {

    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.aside-benefit-bar-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.aside-benefit-bar-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.aside-benefit-bar-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.aside-benefit-bar-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.aside-benefit-bar-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.aside-benefit-bar-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.aside-benefit-bar-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.aside-benefit-bar-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.aside-benefit-bar-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Ending of aside bar chnages^ */

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 22px; /*Increased font due to h4 tag instead h2 */
}
